# dependencies
/node_modules
/.pnp
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/versions

# testing
/coverage

# build output
/.next/
/out/
/build
.turbo

# logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# local environment files
.env
.env.local
.env.development.local
.env.test.local
.env.production.local
!.env.example
!.env*.example

# deployment
.vercel

# editor files
.vscode/
.idea/
*.swp
*.swo
*~
.eslintcache

# system files
.DS_Store
.DS_Store?
Thumbs.db
*.pem

# typescript
*.tsbuildinfo
next-env.d.ts
